@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background: #d0f4de;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blue-day {
  background: linear-gradient(#89c2d9, transparent 250%);
}
.sky-night {
  background: linear-gradient(#e7c6ff 0%, transparent 300%);
}
.dark-night {
  background: #10002b;
}